<div class="main">
  <div class="img-information">
    <img
      src="../../../assets/wallpapersden.com_rick-and-morty-portal_7680x4320.jpg"
      class="img-head"
      alt="Imagem Rick and Morty"
    />
  </div>
  <div class="container">
    <div class="title">
      <h1>{{ titleH1 }}</h1>
    </div>
    <div class="information">
      <p class=" ">
        "Rick and Morty" é uma popular série de animação adulta que acompanha as
        aventuras interdimensionais de Rick Sanchez, um cientista brilhante e
        excêntrico, e seu neto Morty Smith. Os personagens desta série cativante
        são diversos e únicos, cada um adicionando sua própria personalidade à
        trama.
      </p>
      <p>
        Além de Rick e Morty, a série apresenta uma série de personagens
        secundários interessantes e excêntricos. A série também é conhecida por
        apresentar uma ampla variedade de personagens estranhos, vindos de
        diferentes dimensões e planetas, cada um com suas peculiaridades únicas.
        Esses personagens secundários incluem alienígenas, criaturas fantásticas
        e até mesmo versões alternativas de Rick e Morty de diferentes
        realidades.
      </p>
      <p>
        "Rick and Morty" é uma série repleta de personagens fascinantes e
        complexos, cujas interações e características únicas contribuem para a
        narrativa engraçada, emocional e muitas vezes filosófica da série.
        Abaixo está relacionado algumas características dos personagens.
      </p>
    </div>
    <div class="tab-information">
      <div class="title">
        <h2>{{ titleH2 }}</h2>
      </div>
      <div class="info-table">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>
